env/
.env
files/
# ignore files in folder 디렉토리명
./.cache/files/*
# but keep the folder by keeping .gitkeep file
!./.cache/files/.gitkeep
.streamlit/
.DS_Store
falcon.bin
__pycache__
QUUSai_clientID_webapp.json
QUUSai_clientID_desktop.json
CrawlingAIforMoyo.json
token.json
client_secret_496134501957-ufiled3fi98pjqhmk1i8gelru3pekeed.apps.googleusercontent.com.json
CrawlingAIforMoyo.json
token.json